[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==0.22.1"
pandas = "==0.25.3"
numpy = "==1.18.1"
fastapi = "==0.63.0"
uvicorn = "==0.13.3"
joblib = "==1.1.0"
torch = "==1.9.0"

[dev-packages]

[requires]
python_version = "3.10"
